Repository pw-software-engineering/2023-konfetti, pull requests merged in 2023-04, with the labels that each got.

#50 Add integration tests to pipeline
  .github/workflows/ci_back_build_and_test.yml
  src/back/TicketManager/tests/TicketManager.IntegrationTests/Properties/AssemblyInfo.cs
  src/back/TicketManager/tests/TicketManager.IntegrationTests/TicketManagerApp.cs
Labels: bug, back-end

#51 Feature/role testing
  src/back/TicketManager/tests/Core/TicketManager.Core.ServicesTests/Endpoints/Roles/RoleTestInstance.cs
  src/back/TicketManager/tests/Core/TicketManager.Core.ServicesTests/Endpoints/Roles/RoleTests/AccountRoleTests.cs
  src/back/TicketManager/tests/Core/TicketManager.Core.ServicesTests/Endpoints/Roles/RoleTests/EventRoleTests.cs
  src/back/TicketManager/tests/Core/TicketManager.Core.ServicesTests/Endpoints/Roles/RoleTests/OrganizerRoleTests.cs
  src/back/TicketManager/tests/Core/TicketManager.Core.ServicesTests/Endpoints/Roles/RoleTests/UserRoleTests.cs
  src/back/TicketManager/tests/Core/TicketManager.Core.ServicesTests/Endpoints/Roles/RoleTestsBase.cs
Labels: feature, back-end

#53 Test json converters
  src/back/TicketManager/tests/Core/TicketManager.Core.ServicesTests/Extensions/JsonConverters/DateOnlyConverterTests.cs
  src/back/TicketManager/tests/Core/TicketManager.Core.ServicesTests/Extensions/JsonConverters/DateTimeConverterTests.cs
Labels: feature, back-end

#49 Feature/organizer listing
  src/back/TicketManager/src/Core/TicketManager.Core.Api/Program.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Common/ISortedRequest.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Organizers/OrganizerListRequest.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Organizers/OrganizerListEndpoint.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Extensions/Parsers/DtoListParser.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Extensions/QueryableExtensions.cs
  src/back/TicketManager/tests/Core/TicketManager.Core.ServicesTests/Endpoints/Roles/RoleTests/OrganizerRoleTests.cs
Labels: feature, back-end

#47 Add event creation form
  src/front/ticketer/assets/dotenv
  src/front/ticketer/lib/backend_communication/logic/communication.dart
  src/front/ticketer/lib/backend_communication/logic/event/communication_event.dart
  src/front/ticketer/lib/backend_communication/model/event.dart
  src/front/ticketer/lib/backend_communication/model/organizer.dart
  src/front/ticketer/lib/backend_communication/model/sector.dart
  src/front/ticketer/lib/pages/login/page_organizer_register.dart
  src/front/ticketer/lib/pages/organizer/organizer_landing_page.dart
  src/front/ticketer/test/event/event_creation_test.dart
  src/front/ticketer/test/event/event_json_serializer_test.dart
Labels: feature, front-end

#54 Add blocking unverified organizers login
  src/back/TicketManager/src/Core/TicketManager.Core.Domain/Organizers/Organizer.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Accounts/AccountLoginEndpoint.cs
  src/back/TicketManager/tests/TicketManager.IntegrationTests/TestBase.cs
Labels: feature, back-end

#55 Feature/add dotenv file
  README.md
  src/back/TicketManager/docker-compose.yaml
  src/back/TicketManager/src/Core/TicketManager.Core.Api/Program.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Api/appsettings.json
  src/back/TicketManager/variables.env
Labels: documentation, feature, back-end

#57 Test organizer verification
  src/back/TicketManager/src/Core/TicketManager.Core.Domain/Accounts/Account.cs
  src/back/TicketManager/tests/TicketManager.IntegrationTests/Extensions/HttpClientExtensions.cs
  src/back/TicketManager/tests/TicketManager.IntegrationTests/Organizers/OrganizerLoginTests.cs
  src/back/TicketManager/tests/TicketManager.IntegrationTests/TestBase.cs
Labels: feature, back-end

#56 Add event listing
  src/front/ticketer/lib/backend_communication/logic/communication.dart
  src/front/ticketer/lib/backend_communication/logic/event/communication_event.dart
  src/front/ticketer/lib/backend_communication/model/event.dart
  src/front/ticketer/lib/backend_communication/model/sector.dart
  src/front/ticketer/lib/pages/common/event_tile.dart
  src/front/ticketer/lib/pages/user/user_landing_page.dart
  src/front/ticketer/test/sidebar/user_sidebar_test.dart
Labels: feature, front-end

#63 Feature/ctts basic arch
  src/back/CrossTeamTestSuite/CrossTeamTestSuite.csproj
  src/back/CrossTeamTestSuite/Program.cs
  src/back/CrossTeamTestSuite/READM.MD
Labels: feature, back-end

#61 Create payment app
  src/back/TicketManager/Dockerfile.core
  src/back/TicketManager/Dockerfile.payment
  src/back/TicketManager/TicketManager.sln
  src/back/TicketManager/docker-compose.yaml
  src/back/TicketManager/src/PaymentService/TicketManager.PaymentService.Api/Program.cs
  src/back/TicketManager/src/PaymentService/TicketManager.PaymentService.Api/Properties/launchSettings.json
  src/back/TicketManager/src/PaymentService/TicketManager.PaymentService.Api/TicketManager.PaymentService.Api.csproj
  src/back/TicketManager/src/PaymentService/TicketManager.PaymentService.Api/appsettings.Development.json
  src/back/TicketManager/src/PaymentService/TicketManager.PaymentService.Api/appsettings.json
  src/back/TicketManager/src/PaymentService/TicketManager.PaymentService.Contracts/Class1.cs
  src/back/TicketManager/src/PaymentService/TicketManager.PaymentService.Contracts/TicketManager.PaymentService.Contracts.csproj
  src/back/TicketManager/src/PaymentService/TicketManager.PaymentService.Contracts/Validation/ValidationErrorResponse.cs
  src/back/TicketManager/src/PaymentService/TicketManager.PaymentService.Domain/Class1.cs
  src/back/TicketManager/src/PaymentService/TicketManager.PaymentService.Domain/TicketManager.PaymentService.Domain.csproj
  src/back/TicketManager/src/PaymentService/TicketManager.PaymentService.Services/DataAccess/PaymentDbContext.cs
  src/back/TicketManager/src/PaymentService/TicketManager.PaymentService.Services/Endpoints/HelloWorlds/HelloWorldEndpoint.cs
  src/back/TicketManager/src/PaymentService/TicketManager.PaymentService.Services/TicketManager.PaymentService.Services.csproj
Labels: feature, back-end

#64 Feature/organizer event listing
  src/back/TicketManager/docker-compose.yaml
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Events/ListEventForOrganizerRequest.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Events/ListEventsForOrganizerEndpoint.cs
  src/back/TicketManager/tests/Core/TicketManager.Core.ServicesTests/Endpoints/Roles/RoleTests/EventRoleTests.cs
Labels: feature, back-end

#65 Contracts abstraction
  src/back/CrossTeamTestSuite/CrossTeamTestSuite.sln
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/CrossTeamTestSuite.csproj
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Abstraction/IRequest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Abstraction/RequestType.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Accounts/AccountLoginRequest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Accounts/AccountLoginResponse.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Converters/GetQueryParamsConverters/GetQueryParamConverter.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Converters/GetQueryParamsConverters/UnsupportedTypeException.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Converters/ValueConverters/IValueConverter.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Converters/ValueConverters/ListValueConverter.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Converters/ValueConverters/SimpleValueConverter.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Converters/ValueConverters/StringValueConverter.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Extensions/HttpClientExtensions.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Program.cs
  src/back/CrossTeamTestSuite/tests/CrossTeamTestSuiteTests/CrossTeamTestSuiteTests.csproj
  src/back/CrossTeamTestSuite/tests/CrossTeamTestSuiteTests/Endpoints/Converters/GetQueryParamsConverters/GetQueryParamsConverterTests.cs
Labels: feature, back-end

#69 Example api call
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Abstraction/IRequest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Accounts/AccountLoginRequest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Accounts/AccountLoginResponse.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Common/IPaginatedRequest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Common/ISortedRequest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Common/IdResponse.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Common/PaginatedResponse.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Organizers/OrganizerDto.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Organizers/OrganizerListRequest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Organizers/TaxIdTypeDto.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Organizers/VerificationStatusDto.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Converters/GetQueryParamsConverters/GetQueryParamConverter.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Extensions/HttpClientExtensions.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Program.cs
Labels: feature, back-end

#70 Fix/finish payment service integration
  src/back/TicketManager/docker-compose.yaml
  src/back/TicketManager/src/Core/TicketManager.Core.Api/Program.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Tickets/TicketBuyEndpoint.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Services/HttpClients/PaymentClient.cs
  src/back/TicketManager/variables.env
Labels: back-end, fix

#72 Add mocking of BackendCommunication
  src/front/ticketer/lib/backend_communication/logic/communication.dart
  src/front/ticketer/test/backend_communication/backend_communication_test.dart
Labels: feature, front-end

#68 Create LICENCE.md
  LICENCE.md
Labels: documentation

#75 Update front-end workflow
  .github/workflows/ci_front_build_android.yml
  .github/workflows/ci_front_build_ios.yml
  .github/workflows/ci_front_build_web.yml
Labels: hotfix

#62 TM-78: fix: send and receive sector price in smallest monetary unit
  src/back/TicketManager/Dockerfile.core
  src/front/ticketer/lib/backend_communication/model/sector.dart
  src/front/ticketer/test/event/event_json_serializer_test.dart
Labels: front-end, fix

#78 Unify colors with app theme
  src/front/ticketer/lib/pages/admin/landing/admin_landing_page.dart
  src/front/ticketer/lib/pages/admin/landing/organizer_listing.dart
  src/front/ticketer/lib/pages/common/event_tile.dart
  src/front/ticketer/lib/pages/common/organizer_card.dart
  src/front/ticketer/lib/pages/login/page_organizer_register.dart
  src/front/ticketer/lib/pages/login/page_user_register.dart
  src/front/ticketer/lib/pages/organizer/organizer_landing_page.dart
  src/front/ticketer/lib/pages/user/user_landing_page.dart
Labels: front-end

#76 Add tests infrastructure
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/CrossTeamTestSuite.csproj
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Extensions/ConsoleExtensions.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Extensions/IEnumerableExtensions.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Program.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Tests/Examples/MultiplyTest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Tests/Examples/SumTest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/TestsInfrastructure/MultiTest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/TestsInfrastructure/SingleTest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/TestsInfrastructure/Test.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/TestsInfrastructure/TestExecutor.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/TestsInfrastructure/TestPipeline.cs
Labels: feature, back-end

#79 Add test that mocks Auth() and allows to test login
  src/front/ticketer/lib/auth/auth.dart
  src/front/ticketer/lib/auth/auth_provider.dart
  src/front/ticketer/lib/backend_communication/logic/account/communication_account.dart
  src/front/ticketer/pubspec.lock
  src/front/ticketer/pubspec.yaml
  src/front/ticketer/test/auth/auth_login_test.dart
Labels: feature, front-end, fix

#83 Feature/basic api functionality
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/ApiClientSingleton.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/CommonTokenSingleton.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/DataAccess.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/DataAccessSingleton.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/Repository/IAccountRepository.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/Repository/IRepository.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/Repository/Users/User.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/Repository/Users/UserRepository.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Users/UserRegisterRequest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Converters/GetQueryParamsConverters/GetQueryParamConverter.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Converters/JsonConverters/DateOnlyConverter.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Converters/ValueConverters/DateOnlyValueConverter.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Extensions/HttpClientExtensions.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Accounts/AccountLoginInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/EndpointInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Users/UserRegisterInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Program.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Tests/Admin/AdminLoginTest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Tests/User/UserLoginTest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Tests/User/UserRegisterTest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/TestsInfrastructure/TestExecutor.cs
Labels: feature, CTTS

#82 Feature/docker image deploy
  .github/workflows/ci_back_build_and_test.yml
Labels: feature, back-end

#84 TM-83: Add organizer event listing
  .github/workflows/ci_front_test.yml
  src/back/TicketManager/Dockerfile.payment
  src/front/ticketer/lib/backend_communication/logic/communication.dart
  src/front/ticketer/lib/backend_communication/logic/event/communication_event.dart
  src/front/ticketer/lib/pages/organizer/organizer_drawer.dart
  src/front/ticketer/lib/pages/organizer/organizer_event_list_page.dart
  src/front/ticketer/test/organizer/organizer_event_listing_test.dart
  src/front/ticketer/test/organizer/organizer_landing_page_test.dart
  src/front/ticketer/test/organizer/organizer_register/organizer_json_serializer_test.dart
  src/front/ticketer/test/organizer/organizer_register/organizer_register_test.dart
Labels: feature, front-end

#85 TM-76: Add sector selection to event modal
  src/front/ticketer/lib/pages/common/event_tile.dart
  src/front/ticketer/pubspec.lock
  src/front/ticketer/pubspec.yaml
Labels: feature, front-end

#87 Feature/ctts more tests
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/DataAccess.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/Repository/Events/Event.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/Repository/Events/EventRepository.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/Repository/Events/Sector.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/Repository/IAccountRepository.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/Repository/Organizers/Organizer.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/Repository/Organizers/OrganizerRepository.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/Repository/Organizers/TaxIdType.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/Repository/Users/User.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Data/Repository/Users/UserRepository.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Events/EventCreateRequest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Events/EventDto.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Events/EventListRequest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Events/EventStatusDto.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Events/SectorDto.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Organizers/OrganizerDecideRequest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Organizers/OrganizerRegisterRequest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Organizers/OrganizerViewRequest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Users/UserDto.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Contracts/Users/UserViewRequest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Converters/JsonConverters/DateTimeConverter.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Extensions/HttpClientExtensions.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/EndpointInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Events/EventCreateInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Events/EventListInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Organizers/OrganizerDecideInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Organizers/OrganizerListInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Organizers/OrganizerRegisterInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Organizers/OrganizerViewInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Users/UserViewInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Program.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Tests/Event/EventCreateTest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Tests/Event/EventListTest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Tests/Organizer/OrganizerDecideTest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Tests/Organizer/OrganizerLoginTest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Tests/Organizer/OrganizerRegisterTest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Tests/Organizer/OrganizerViewTest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Tests/User/UserViewTest.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/TestsInfrastructure/TestExecutor.cs
Labels: feature, CTTS

#88 TM-84: Fix login 415 error
  src/front/ticketer/lib/backend_communication/logic/communication.dart
  src/front/ticketer/lib/pages/organizer/organizer_landing_page.dart
Labels: front-end, fix

#86 Add payment page
  src/front/ticketer/lib/pages/common/event_tile.dart
  src/front/ticketer/lib/pages/organizer/organizer_drawer.dart
  src/front/ticketer/lib/pages/user/payment_page.dart
  src/front/ticketer/lib/pages/user/user_drawer.dart
Labels: feature, front-end

#60 [TM-29] Add organizer verification logic
  src/front/ticketer/lib/auth/auth.dart
  src/front/ticketer/lib/auth/auth_provider.dart
  src/front/ticketer/lib/backend_communication/logic/communication.dart
  src/front/ticketer/lib/backend_communication/logic/organizer/communication_organizer.dart
  src/front/ticketer/lib/backend_communication/model/organizer.dart
  src/front/ticketer/lib/backend_communication/model/organizer_account.dart
  src/front/ticketer/lib/backend_communication/model/organizer_verification_status.dart
  src/front/ticketer/lib/pages/admin/landing/organizer_listing.dart
  src/front/ticketer/lib/pages/common/organizer_card.dart
  src/front/ticketer/lib/pages/login/page_organizer_register.dart
  src/front/ticketer/lib/pages/organizer/organizer_landing_page.dart
  src/front/ticketer/test/admin/admin_landing_page_test.dart
  src/front/ticketer/test/admin/admin_landing_page_test.mocks.dart
  src/front/ticketer/test/auth/auth_test.dart
  src/front/ticketer/test/backend_communication/backend_communication_test.dart
  src/front/ticketer/test/organizer/organizer_register/organizer_json_serializer_test.dart
  src/front/ticketer/test/sidebar/admin_sidebar_test.dart
Labels: feature, front-end

#90 Update ci_back_build_and_test.yml
  .github/workflows/ci_back_build_and_test.yml
  .github/workflows/ci_front_build_android.yml
  .github/workflows/ci_front_build_ios.yml
  .github/workflows/ci_front_build_web.yml
  .github/workflows/ci_front_test.yml
Labels: back-end, merge-to-master, hotfix

#93 Feature/update account password
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Accounts/AccountUpdatePasswordRequest.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Accounts/AccountUpdatePasswordEndpoint.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Accounts/AccountUpdatePasswordValidator.cs
  src/back/TicketManager/tests/Core/TicketManager.Core.ServicesTests/Endpoints/Roles/RoleTests/AccountRoleTests.cs
Labels: feature, back-end
