Repository pw-software-engineering/2023-konfetti, pull requests merged in 2023-05, with the labels that each got.

#95 Create pdf generation app
  src/back/TicketManager/Dockerfile.pdf_generator
  src/back/TicketManager/TicketManager.sln
  src/back/TicketManager/docker-compose.yaml
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Processes/Tickets/CreateTicket.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/TicketManager.Core.Services.csproj
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Api/Processes/GenerateTicketPdfConsumer.cs
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Api/Program.cs
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Api/Properties/launchSettings.json
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Api/TicketManager.PdfGenerator.Api.csproj
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Api/appsettings.Development.json
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Api/appsettings.json
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Contracts/GenerateTicketPdf.cs
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Contracts/TicketManager.PdfGenerator.Contracts.csproj
Labels: feature, back-end

#97 Edit organizer profile
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Organizers/UpdateOrganizerRequest.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Domain/Organizers/Organizer.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Organizers/UpdateOrganizerEndpoint.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Organizers/UpdateOrganizerValidator.cs
  src/back/TicketManager/tests/TicketManager.IntegrationTests/Organizers/OrganizerProfileTests.cs
Labels: feature, back-end

#96 Feature/event update
  src/back/TicketManager/src/Core/TicketManager.Core.Api/Program.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Events/EventUpdateRequest.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Domain/Events/Event.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Domain/Events/Sector.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Events/EventUpdateEndpoint.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Events/EventUpdateValidator.cs
  src/back/TicketManager/tests/Core/TicketManager.Core.DomainTests/Events/EventUpdateTests.cs
  src/back/TicketManager/tests/Core/TicketManager.Core.ServicesTests/Endpoints/Roles/RoleTests/EventRoleTests.cs
Labels: feature, back-end

#99 Feature/delete stale tickets
  src/back/TicketManager/src/Core/TicketManager.Core.Api/Program.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Domain/Events/Sector.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Events/EventHoldEndpoint.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Events/EventPublishEndpoint.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Events/EventRecallEndpoint.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Events/EventRestartEndpoint.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Processes/Events/DeleteSectorReservation.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Processes/Events/RemoveEventTickets.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Processes/Tickets/DeleteTicket.cs
Labels: feature, back-end

#100 Feature/pdf generation
  src/back/TicketManager/Dockerfile.pdf_generator
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Processes/SetPdfGenerationFlag.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Domain/Tickets/Ticket.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Processes/Events/SetPdfGenerationFlag.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Processes/Tickets/CreateTicket.cs
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Api/Processes/GenerateTicketPdfConsumer.cs
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Api/TicketManager.PdfGenerator.Api.csproj
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Contracts/GenerateTicketPdf.cs
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Contracts/Ticket/EventDto.cs
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Contracts/Ticket/OrganizerDto.cs
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Contracts/Ticket/TicketDto.cs
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Contracts/Ticket/TicketSeatDto.cs
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Contracts/Ticket/UserDto.cs
  src/back/TicketManager/tests/TicketManager.IntegrationTests/Tickets/UserBuyingTicketTests.cs
Labels: feature, back-end

#101 Fix fields updates
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Events/EventUpdateEndpoint.cs
Labels: back-end, fix

#102 Feature/blob storage
  README.md
  src/back/.gitignore
  src/back/TicketManager/docker-compose.yaml
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Api/Helpers/BlobConfiguration.cs
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Api/Helpers/GeneratePdfFile.cs
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Api/Processes/GenerateTicketPdfConsumer.cs
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Api/Program.cs
  src/back/TicketManager/src/PdfGenerator/TicketManager.PdfGenerator.Api/TicketManager.PdfGenerator.Api.csproj
  src/back/TicketManager/variables.env
Labels: feature, back-end

#105 Verify event
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Events/EventDecideRequest.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Domain/Events/Event.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Events/EventDecideEndpoint.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Events/EventDecideValidator.cs
  src/back/TicketManager/tests/TicketManager.IntegrationTests/Events/ManagingEventTests.cs
  src/back/TicketManager/tests/TicketManager.IntegrationTests/Events/ManagingEventsTests.cs
  src/back/TicketManager/tests/TicketManager.IntegrationTests/Tickets/UserBuyingTicketTests.cs
Labels: feature, back-end

#106 Add user and organizer data edit pages
  src/front/ticketer/lib/auth/auth.dart
  src/front/ticketer/lib/auth/auth_provider.dart
  src/front/ticketer/lib/backend_communication/logic/organizer/communication_organizer.dart
  src/front/ticketer/lib/backend_communication/logic/user/communication_user.dart
  src/front/ticketer/lib/backend_communication/model/credentials.dart
  src/front/ticketer/lib/backend_communication/model/organizer_account.dart
  src/front/ticketer/lib/backend_communication/model/user.dart
  src/front/ticketer/lib/pages/common/password_change_dialog.dart
  src/front/ticketer/lib/pages/organizer/organizer_drawer.dart
  src/front/ticketer/lib/pages/organizer/organizer_edit_data.dart
  src/front/ticketer/lib/pages/user/user_drawer.dart
  src/front/ticketer/lib/pages/user/user_edit_data.dart
  src/front/ticketer/test/admin/admin_landing_page_test.mocks.dart
  src/front/ticketer/test/backend_communication/backend_communication_test.dart
Labels: feature, front-end

#107 Fix updating organizer email
  src/back/TicketManager/src/Core/TicketManager.Core.Domain/Accounts/Account.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Organizers/UpdateOrganizerEndpoint.cs
Labels: back-end, fix

#109 Update user profile
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Users/UpdateUserRequest.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Domain/Users/User.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Users/UpdateUserEndpoint.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Users/UpdateUserValidator.cs
  src/back/TicketManager/tests/TicketManager.IntegrationTests/Tickets/UserBuyingTicketTests.cs
Labels: feature, back-end

#110 Fix parsing event statuses list
  src/back/TicketManager/src/Core/TicketManager.Core.Api/Program.cs
Labels: back-end, fix

#111 Add event verification
  src/front/ticketer/lib/backend_communication/logic/event/communication_event.dart
  src/front/ticketer/lib/backend_communication/model/event_status.dart
  src/front/ticketer/lib/pages/admin/admin_drawer.dart
  src/front/ticketer/lib/pages/admin/events/admin_verify_events_page.dart
  src/front/ticketer/lib/pages/admin/events/event_listing.dart
  src/front/ticketer/lib/pages/user/user_landing_page.dart
Labels: feature, front-end

#112 Fix CTS bugs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Converters/GetQueryParamsConverters/GetQueryParamConverter.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Converters/ValueConverters/EnumValueConverter.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Extensions/HttpClientExtensions.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Accounts/AccountLoginInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Events/EventCreateInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Events/EventListInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Organizers/OrganizerDecideInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Organizers/OrganizerListInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Organizers/OrganizerRegisterInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Organizers/OrganizerViewInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Users/UserRegisterInstance.cs
  src/back/CrossTeamTestSuite/src/CrossTeamTestSuite/Endpoints/Instances/Users/UserViewInstance.cs
Labels: fix, CTTS

#114 Feature/kubernetes
  .github/workflows/ci_back_build_and_test.yml
  deployment/konfetti-api.yml
  deployment/konfetti-payment.yml
  deployment/konfetti-pdf.yml
  deployment/konfetti-rabbit.yml
  src/back/TicketManager/Dockerfile.core
Labels: feature, back-end

#116 Fix/kubernetes deployment
  .github/workflows/ci_back_build_and_test.yml
  deployment/konfetti-api.yml
  src/back/TicketManager/src/Core/TicketManager.Core.Api/Logger.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Api/Program.cs
Labels: back-end, fix

#119 Deploy front-end web to GH Pages
  .github/workflows/ci_front_deploy_web.yml
Labels: feature, front-end
