Repository pw-software-engineering/2023-konfetti, pull requests merged in 2023-06, with the labels that each got.

#117 Add event actions buttons for organizer
  src/front/ticketer/lib/backend_communication/logic/event/communication_event.dart
  src/front/ticketer/lib/backend_communication/model/event.dart
  src/front/ticketer/lib/backend_communication/model/event_status.dart
  src/front/ticketer/lib/pages/common/event_tile.dart
  src/front/ticketer/lib/pages/organizer/organizer_landing_page.dart
  src/front/ticketer/test/event/event_json_serializer_test.dart
Labels: feature, front-end

#124 Fix deploy
  .github/workflows/ci_front_deploy_web.yml
Labels: fix

#123 Feature/payment logic front
  .github/workflows/ci_front_deploy_web.yml
  src/front/ticketer/assets/dotenv
  src/front/ticketer/lib/backend_communication/logic/communication.dart
  src/front/ticketer/lib/backend_communication/logic/payment/communication_payment.dart
  src/front/ticketer/lib/backend_communication/logic/ticket/communication_ticket.dart
  src/front/ticketer/lib/main.dart
  src/front/ticketer/lib/pages/common/event_tile.dart
  src/front/ticketer/lib/pages/user/payment_page.dart
  src/front/ticketer/lib/pages/user/user_landing_page.dart
Labels: feature, front-end

#126 Feature/kubernetes more services
  .github/workflows/ci_back_build_and_test.yml
  deployment/konfetti-api.yml
  deployment/konfetti-payment.yml
  deployment/konfetti-pdf.yml
  deployment/konfetti-rabbit.yml
  src/back/TicketManager/src/PaymentService/TicketManager.PaymentService.Api/Logger.cs
  src/back/TicketManager/src/PaymentService/TicketManager.PaymentService.Api/Program.cs
  src/back/TicketManager/tests/TicketManager.IntegrationTests/Payments/ManagingPaymentTests.cs
Labels: feature, back-end

#127 Create deployment process for frontend
  .github/workflows/ci_front_deploy_web.yml
  deployment/konfetti-app.yml
  src/front/ticketer/Dockerfile
  src/front/ticketer/assets/dotenv
  src/front/ticketer/lib/backend_communication/logic/communication.dart
  src/front/ticketer/lib/pages/admin/landing/organizer_listing.dart
  src/front/ticketer/pubspec.lock
  src/front/ticketer/server.sh
Labels: feature, front-end

#132 Fix frontend deploy
  src/front/ticketer/lib/backend_communication/logic/event/communication_event.dart
  src/front/ticketer/lib/backend_communication/logic/organizer/communication_organizer.dart
  src/front/ticketer/lib/backend_communication/logic/payment/communication_payment.dart
  src/front/ticketer/lib/pages/admin/events/event_listing.dart
  src/front/ticketer/lib/pages/admin/landing/organizer_listing.dart
  src/front/ticketer/lib/pages/organizer/organizer_event_list_page.dart
  src/front/ticketer/lib/pages/user/user_landing_page.dart
  src/front/ticketer/test/admin/admin_landing_page_test.mocks.dart
Labels: front-end, fix, hotfix

#134 Feature/add cors
  .github/workflows/ci_back_build_and_test.yml
  deployment/konfetti-payment.yml
  deployment/konfetti-pdf.yml
  deployment/konfetti-rabbit.yml
  src/back/TicketManager/src/Core/TicketManager.Core.Api/Program.cs
Labels: feature, back-end
