Repository pw-software-engineering/2023-konfetti, pull requests merged in 2023-03, with the labels that each got.

#8 Add manual trigger for backend CI
  .github/workflows/ci_back_build_and_test.yml
Labels: back-end

#11 Fix/backend ci more tests
  .github/workflows/ci_back_build_and_test.yml
Labels: back-end, fix

#14 Feature/account login
  src/back/TicketManager/src/Core/TicketManager.Core.Api/Program.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Api/TicketManager.Core.Api.csproj
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Accounts/AccountLoginRequest.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Accounts/AccountLoginResponse.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Configuration/TokenConfiguration.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Accounts/AccountLoginEndpoint.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Services/TokenManager/TokenCreator.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/TicketManager.Core.Services.csproj
Labels: feature, back-end

#15 Add endpoint for user to view his account
  src/back/TicketManager/src/Core/TicketManager.Core.Api/Program.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Users/UserViewRequest.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Users/UserViewResponse.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Users/UserViewEndpoint.cs
Labels: feature, back-end

#13 TM-14: Add organizer registration form
  .github/workflows/ci_front_build_android.yml
  .github/workflows/ci_front_build_ios.yml
  .github/workflows/ci_front_build_web.yml
  src/front/ticketer/assets/.env
  src/front/ticketer/lib/main.dart
  src/front/ticketer/lib/model/credentials.dart
  src/front/ticketer/lib/model/organizer.dart
  src/front/ticketer/lib/model/tax_type.dart
  src/front/ticketer/lib/pages/page_login.dart
  src/front/ticketer/lib/pages/page_organizer_register.dart
  src/front/ticketer/pubspec.lock
  src/front/ticketer/pubspec.yaml
  src/front/ticketer/test/organizer_register/organizer_json_serializer_test.dart
  src/front/ticketer/test/organizer_register/organizer_register_test.dart
Labels: feature, front-end, front-end-build

#18 TM-21: Make frontend password validation consistent with docs
  src/front/ticketer/lib/pages/page_login.dart
  src/front/ticketer/test/login_page/password_validation_test.dart
  src/front/ticketer/test/login_page/widget_test.dart
Labels: front-end, front-end-build

#17 Show organizer information
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Organizers/OrganizerDto.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Organizers/OrganizerViewRequest.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Domain/Organizers/Organizer.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/DataAccess/CoreDbContext.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/DataAccess/DtoMappers/OrganizerDtoMapper.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Organizers/OrganizerViewEndpoint.cs
Labels: feature, back-end

#20 Fix how workflows are run
  .github/workflows/ci_back_build_and_test.yml
  .github/workflows/ci_front_build_android.yml
  .github/workflows/ci_front_build_ios.yml
  .github/workflows/ci_front_build_web.yml
  .github/workflows/ci_front_test.yml
Labels: front-end, back-end, fix

#19 Add log-in functionality
  .gitignore
  src/front/ticketer/android/app/build.gradle
  src/front/ticketer/ios/Flutter/Debug.xcconfig
  src/front/ticketer/ios/Flutter/Release.xcconfig
  src/front/ticketer/ios/Podfile
  src/front/ticketer/lib/auth/auth.dart
  src/front/ticketer/lib/auth/jwt_server.dart
  src/front/ticketer/lib/auth/widget_tree.dart
  src/front/ticketer/lib/main.dart
  src/front/ticketer/lib/model/credentials.dart
  src/front/ticketer/lib/model/tax_type.dart
  src/front/ticketer/lib/pages/page_home.dart
  src/front/ticketer/lib/pages/page_login.dart
  src/front/ticketer/linux/flutter/generated_plugin_registrant.cc
  src/front/ticketer/linux/flutter/generated_plugins.cmake
  src/front/ticketer/macos/Flutter/Flutter-Debug.xcconfig
  src/front/ticketer/macos/Flutter/Flutter-Release.xcconfig
  src/front/ticketer/macos/Flutter/GeneratedPluginRegistrant.swift
  src/front/ticketer/macos/Podfile
  src/front/ticketer/macos/Podfile.lock
  src/front/ticketer/macos/Runner.xcodeproj/project.pbxproj
  src/front/ticketer/macos/Runner.xcworkspace/contents.xcworkspacedata
  src/front/ticketer/pubspec.lock
  src/front/ticketer/pubspec.yaml
  src/front/ticketer/windows/flutter/generated_plugin_registrant.cc
  src/front/ticketer/windows/flutter/generated_plugins.cmake
Labels: feature, front-end

#25 Configure validation error response
  src/back/TicketManager/src/Core/TicketManager.Core.Api/Program.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Validation/ValidationErrorResponse.cs
Labels: feature, back-end

#23 TM-20: Add organizer landing page
  src/front/ticketer/lib/auth/auth.dart
  src/front/ticketer/lib/auth/user.dart
  src/front/ticketer/lib/auth/widget_tree.dart
  src/front/ticketer/lib/pages/common/app_bar.dart
  src/front/ticketer/lib/pages/login/page_login.dart
  src/front/ticketer/lib/pages/login/page_organizer_register.dart
  src/front/ticketer/lib/pages/login/page_user_register.dart
  src/front/ticketer/lib/pages/organizer/organizer_landing_page.dart
  src/front/ticketer/lib/pages/page_home.dart
  src/front/ticketer/test/login_page/password_validation_test.dart
  src/front/ticketer/test/organizer_register/organizer_landing_page_test.dart
  src/front/ticketer/test/organizer_register/organizer_register_test.dart
Labels: front-end, front-end-build

#31 Add auto-approving of PR from master to dev
  .github/workflows/merge_to_dev.yml
Labels: feature

#33 Unify calls to backend concerning log-in and sign-up
  src/front/ticketer/assets/dotenv
  src/front/ticketer/lib/auth/account.dart
  src/front/ticketer/lib/auth/auth.dart
  src/front/ticketer/lib/auth/auth_provider.dart
  src/front/ticketer/lib/auth/jwt_token.dart
  src/front/ticketer/lib/auth/user.dart
  src/front/ticketer/lib/main.dart
  src/front/ticketer/lib/model/account_type.dart
  src/front/ticketer/lib/pages/login/page_login.dart
  src/front/ticketer/lib/pages/login/page_organizer_register.dart
  src/front/ticketer/lib/pages/login/page_user_register.dart
  src/front/ticketer/lib/pages/page_home.dart
  src/front/ticketer/pubspec.lock
  src/front/ticketer/pubspec.yaml
  src/front/ticketer/test/auth/account_type_test.dart
  src/front/ticketer/test/auth/auth_provider_test.dart
  src/front/ticketer/test/auth/jwt_token_test.dart
Labels: feature, front-end, fix

#36 Add unified backend communication object
  src/front/ticketer/lib/auth/account.dart
  src/front/ticketer/lib/auth/auth.dart
  src/front/ticketer/lib/auth/auth_provider.dart
  src/front/ticketer/lib/auth/jwt_server.dart
  src/front/ticketer/lib/auth/jwt_token.dart
  src/front/ticketer/lib/backend_communication/logic/account/communication_account.dart
  src/front/ticketer/lib/backend_communication/logic/communication.dart
  src/front/ticketer/lib/backend_communication/logic/dio_interceptors.dart
  src/front/ticketer/lib/backend_communication/logic/organizer/communication_organizer.dart
  src/front/ticketer/lib/backend_communication/logic/user/communication_user.dart
  src/front/ticketer/lib/backend_communication/model/account_type.dart
  src/front/ticketer/lib/backend_communication/model/credentials.dart
  src/front/ticketer/lib/backend_communication/model/organizer.dart
  src/front/ticketer/lib/backend_communication/model/response_codes.dart
  src/front/ticketer/lib/backend_communication/model/tax_type.dart
  src/front/ticketer/lib/backend_communication/model/user.dart
  src/front/ticketer/lib/main.dart
  src/front/ticketer/lib/pages/login/page_login.dart
  src/front/ticketer/lib/pages/login/page_organizer_register.dart
  src/front/ticketer/lib/pages/login/page_user_register.dart
  src/front/ticketer/lib/pages/page_home.dart
  src/front/ticketer/pubspec.lock
  src/front/ticketer/pubspec.yaml
  src/front/ticketer/test/auth/account_type_test.dart
  src/front/ticketer/test/auth/auth_provider_test.dart
  src/front/ticketer/test/auth/auth_test.dart
  src/front/ticketer/test/auth/jwt_token_test.dart
  src/front/ticketer/test/backend_communication/backend_communication_test.dart
  src/front/ticketer/test/organizer_register/organizer_json_serializer_test.dart
  src/front/ticketer/test/organizer_register/organizer_register_test.dart
  src/front/ticketer/test/user_register/user_json_serializer_test.dart
  src/front/ticketer/test/user_register/user_register_test.dart
Labels: feature, front-end

#38 Fix issue with doting file on mobile platform
  src/front/ticketer/lib/main.dart
  src/front/ticketer/pubspec.yaml
Labels: front-end, fix

#32 Fix organizer view response
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Organizers/OrganizerViewEndpoint.cs
Labels: back-end, fix

#42 Add hardcoded admin user
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Migrations/20230328092103_AddAdminAccount.Designer.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Migrations/20230328092103_AddAdminAccount.cs
Labels: feature, back-end

#46 Add authorized post calls
  src/front/ticketer/lib/auth/auth_provider.dart
  src/front/ticketer/lib/auth/jwt_token.dart
  src/front/ticketer/lib/backend_communication/logic/communication.dart
Labels: feature, front-end

#44 Add docs for launching backend
  README.md
Labels: documentation, back-end

#45 Create event list endpoint
  src/back/TicketManager/src/Core/TicketManager.Core.Api/Program.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Common/IPaginatedRequest.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Common/PaginatedResponse.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Events/EventDto.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Contracts/Events/ListEventsRequest.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/DataAccess/DtoMappers/EventDtoMapper.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Accounts/PasswordValidator.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Events/CreateEventValidator.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Events/ListEventsEndpoint.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Events/SectorValidator.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Organizers/RegisterOrganizerValidator.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Users/RegisterUserValidator.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Extensions/JsonConverters/DateOnlyConverter.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Extensions/JsonConverters/DateTimeConverter.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Extensions/QueryableExtensions.cs
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Extensions/ValidatorExtensions.cs
  src/back/TicketManager/tests/TicketManager.IntegrationTests/Events/UserInteractingWithEventTests.cs
  src/back/TicketManager/tests/TicketManager.IntegrationTests/Helpers/TimeProvider.cs
Labels: feature, back-end

#48 Fix namespace change in using
  src/back/TicketManager/src/Core/TicketManager.Core.Services/Endpoints/Organizers/OrganizerDecideValidator.cs
Labels: back-end, hotfix
